*,
*:before,
*:after {
    box-sizing: border-box;
    font-variant-ligatures: none;
}

html {
    height: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
}

body {
    margin: 0;
    width: 100%;
    background: var(--color-light-green);
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 15px;
    line-height: normal;
    font-weight: normal;
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
    letter-spacing: 0.01em;
    min-width: 320px;
    min-height: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum', 'lnum';
}

a {
    // @include links(orange, blue, yellow, teal);
    text-decoration: none;
}
