@font-face {
    font-family: 'Raleway';
    src: url('~assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    letter-spacing: 0.01em;
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('~assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
    letter-spacing: 0.01em;
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Raleway';
    src: url('~assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
    letter-spacing: 0.01em;
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
